.toolbar-icon {
    margin: auto 0 auto auto;
}

.mat-button-wrapper {
    width: 100%;
}

.phone-item {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;

    p {
        display: inline-block;
        width: 45%;
        margin-top: 8px;
        margin-bottom: 8px;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 5px;
        padding-right: 5px;

        &:first-child {
            width: 10%;
            text-align: center;
        }
    }

}